<!DOCTYPE html>
<html>
<head>
  <title>Pipelines</title>
  <%= stylesheet_link_tag    "pipelines/application", media: "all" %>
  <%= javascript_include_tag "pipelines/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
