<!DOCTYPE html>
<html>
<head>
  <title>Candidates</title>
  <%= stylesheet_link_tag    "candidates/application", media: "all" %>
  <%= javascript_include_tag "candidates/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
